.character-name {
  color: red;
  margin-top: 1rem;
}

.stage-direction {
  color: blue;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.vh-90 {
  height: 90vh;
}

.bg-yellow {
  background-color: rgb(255, 230, 0);
}

.skull-definition {
  background-color: rgb(255, 0, 128);
  max-width: 540px;
}

.main-image {
  max-height: 80vh;
  max-width: 90%;
}

.skull-image {
  max-width: 180px;
}
p {
  margin: 0;
}
