.character-name {
  color: gray;
  font-weight: bold;
  margin-top: 1rem;
}

.text-title {
  color: gray;
  font-style: italic;
  margin: 0;

  font-size: 1.5rem;
}

.small-text {
  font-size: 0.9rem;
  line-height: 1rem;
}
.stage-direction {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.vh-90 {
  height: 90vh;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.bg-gray {
  background-color: rgb(206, 206, 206);
}

.bg-yellow {
  background-color: rgb(255, 230, 0);
}

.bg-pink {
  background-color: rgb(255, 0, 128);
}

.skull-definition {
  background-color: rgb(255, 0, 128);
  max-width: 540px;
}

.table-contents {
  width: 20rem;
  max-width: 100%;
}
.main-image {
  max-height: 80vh;
  max-width: 90%;
}

.skull-image {
  max-width: 180px;
}

.text-container {
  height: 60vh;
  width: 100%;
}

.max-480 {
  max-width: 480px;
}

.photo {
  max-width: 150px;
}

.about {
  max-width: 700px;
}

.about-heading {
  max-width: 6rem;
  margin: 1.2rem 0 0.3rem 0;
}
